anyio==4.13.0+computecanada
argon2_cffi==25.1.0+computecanada
argon2_cffi_bindings==25.1.0+computecanada
arrow==1.4.0+computecanada
asttokens==3.0.1+computecanada
async_lru==2.1.0+computecanada
attrs==26.1.0+computecanada
babel==2.17.0+computecanada
beautifulsoup4==4.14.3+computecanada
bleach==6.3.0+computecanada
boto3==1.42.89
botocore==1.42.89
brainscore-core==2.3.5
brainscore_vision==2.3.18
certifi==2026.2.25+computecanada
cffi==2.0.0+computecanada
cftime==1.6.5+computecanada
charset_normalizer==3.4.7+computecanada
click==8.3.2+computecanada
cloudpickle==3.1.2+computecanada
comm==0.2.3+computecanada
contourpy==1.3.3+computecanada
cycler==0.12.1+computecanada
dask==2026.3.0+computecanada
debugpy==1.8.19+computecanada
decorator==5.2.1+computecanada
decord==0.6.0+computecanada
defusedxml==0.7.1+computecanada
executing==2.2.1+computecanada
fastjsonschema==2.21.2+computecanada
filelock==3.25.2+computecanada
fire==0.7.1+computecanada
fonttools==4.61.1+computecanada
fqdn==1.5.1+computecanada
fsspec==2026.3.0+computecanada
gitdb==4.0.12+computecanada
gitpython==3.1.46+computecanada
h11==0.16.0+computecanada
h5py==3.15.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
idna==3.11+computecanada
importlib_metadata==4.13.0+computecanada
ipykernel==7.1.0+computecanada
ipython==9.9.0+computecanada
ipython_pygments_lexers==1.1.1+computecanada
ipywidgets==8.1.8+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
jmespath==1.1.0+computecanada
joblib==1.5.3+computecanada
json5==0.14.0+computecanada
jsonpointer==3.0.0+computecanada
jsonschema==4.26.0+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter==1.1.1+computecanada
jupyter_client==8.8.0+computecanada
jupyter_console==6.6.3+computecanada
jupyter_core==5.9.1+computecanada
jupyter_events==0.12.0+computecanada
jupyter_lsp==2.3.0+computecanada
jupyter_server==2.17.0+computecanada
jupyter_server_terminals==0.5.4+computecanada
jupyterlab==4.5.2+computecanada
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.28.0+computecanada
jupyterlab_widgets==3.0.16+computecanada
kiwisolver==1.4.9+computecanada
lark==1.3.1+computecanada
latexcodec==3.0.1+computecanada
locket==1.0.0+computecanada
markupsafe==3.0.3+computecanada
matplotlib==3.10.8+computecanada
matplotlib_inline==0.2.1+computecanada
mistune==3.2.0+computecanada
mpi4py @ file:///tmp/ebuser/avx512/mpi4py/4.1.0/gompi-2023a/mpi4py-4.1.0
mpmath==1.3.0+computecanada
nbclient==0.10.4+computecanada
nbconvert==7.17.0+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
netcdf4==1.7.4+computecanada
networkx==3.6.1+computecanada
nose==1.3.7+computecanada
notebook==7.5.2+computecanada
notebook_shim==0.2.4+computecanada
numpy==1.26.4+computecanada
opencv_contrib_python==4.13.0
opencv_contrib_python_headless==4.13.0
opencv_python==4.13.0
opencv_python_headless==4.13.0
overrides==7.7.0+computecanada
packaging==26.0+computecanada
pandas==3.0.0+computecanada
pandocfilters==1.5.1+computecanada
parso==0.8.5+computecanada
partd==1.4.2+computecanada
peewee==3.19.0+computecanada
pexpect==4.9.0+computecanada
pillow==12.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==3.11.0+computecanada
prometheus_client==0.24.1+computecanada
prompt_toolkit==3.0.52+computecanada
psutil==7.2.2+computecanada
psycopg2_binary==2.9.11+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pybtex==0.25.1+computecanada
pycparser==3.0+computecanada
pygments==2.19.2+computecanada
pyparsing==3.3.2+computecanada
python_dateutil==2.9.0.post0+computecanada
python_json_logger==4.1.0+computecanada
pytz==2025.2+computecanada
pyyaml==6.0.3+computecanada
pyzmq==27.1.0+computecanada
referencing==0.37.0+computecanada
requests==2.33.1+computecanada
result_caching==0.1.0
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rfc3987_syntax==1.1.0+computecanada
rpds_py==0.30.0+computecanada
s3transfer==0.16.0+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.17.0+computecanada
send2trash==2.1.0+computecanada
six==1.17.0+computecanada
smmap==5.0.3+computecanada
soupsieve==2.8.3+computecanada
stack_data==0.6.3+computecanada
sympy==1.14.0+computecanada
termcolor==3.3.0+computecanada
terminado==0.18.1+computecanada
threadpoolctl==3.6.0+computecanada
tinycss2==1.4.0+computecanada
toolz==1.1.0+computecanada
torch==2.11.0+computecanada
torchvision==0.26.0+computecanada
tornado==6.5.4+computecanada
tqdm==4.67.3+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.15.0+computecanada
tzdata==2025.3+computecanada
uri_template==1.3.0+computecanada
urllib3==2.6.3+computecanada
wcwidth==0.5.2+computecanada
webcolors==25.10.0+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.9.0+computecanada
widgetsnbextension==4.0.15+computecanada
xarray==2022.3.0+computecanada
zipp==3.23.0+computecanada
